/*

Template:Something Awesome | Coming soon

For new projects being grown by thewebsitenursery.com

hello@thewebsitenursery.com

*/


/* Reset
-------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
nav,
section,
summary {
	display: block;
	width: auto;
	color: #F9F9F9;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	bottom: 10px;
	height: 100%;
}

audio,
canvas,
 {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

html,
button,
input,
textarea {
	font-family: 'Open Sans', sans-serif;
}

body {
	color: #dadada;
	line-height: 1.75;
	margin: 0;
	height: 100%;
}

a {
	color: #dadada;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h5,
h4 {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 1.16667;
	margin: 0 0 18px;
	text-align: center;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 28px;
}

ul,
ol {
	margin: 0 0 28px;
	padding: 0 0 0 24px;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	left: auto;
	width: 55%;
	height: auto;
}

form {
	margin: 0;
}

button,
input,
textarea {
	border-radius: 0;
	font-size: 14px;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

button,
input {
	line-height: normal;
}

button,
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* General styles (grid, forms, common classes, etc)
-------------------------------------------------*/
/* Clearing floats */
.row:after {
	clear: both;
}

.row:before,.row:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	border: 0 none;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	clear: none;
}

/* Grid */
.row {
	margin-left: -48px;
    text-align: left;
}

.one-half {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding-left: 48px;
	clear: none;
}

.one-half {
	width: 50%;
}

/* Forms */
input,
textarea {
	background: #6e6e6e;
	background: rgba(169,169,169,0.3);
	border: 1px solid #6e6e6e;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 12px;
	text-transform: uppercase;
}

input:focus,
textarea:focus {
	outline: 0;
}

button,
input[type="submit"] {
	background: #167AC6;
	background: #167AC6;
	-webkit-transition:	all 0.3s;
	-moz-transition:	all 0.3s;
	transition:			all 0.3s;
}

button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background: #73ba37;
	color: #dadada;
	outline: 0;
}

.form-field {
	position: relative;
}

.form-field label {
	font-size: 14px;
}

.form-field span.error {
	background: #73ba37;
	background: rgba(115,186,55,0.8);
	border: 1px solid #73ba37;
	color: #f7f7f7;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 6px;
	position: absolute;
	right: 6px;
	text-transform: uppercase;
	top: -14px;
}

.form-wrap .loading {
	height: 42px;
	margin: 0 auto 28px;
	text-align: center;
}

.form-wrap .success {
	color: #dadada;
	font-family: 'Roboto Slab', serif;
	min-height: 42px;
	text-align: center;
}

/* Placeholder text color */
::-webkit-input-placeholder {
	color: #a9a9a9;
}

::-moz-placeholder {
	color: #a9a9a9;
	opacity: 1;
}

.placeholder {
	color: #a9a9a9;
}

/* Responsive images */
.content img {
	height: auto;
	max-width: 100%;
}

/* Custom text styles */
.subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 13px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 13px;
	text-align: center;
	text-transform: uppercase;
}

.row h2 {
	font-size: 24px;
	margin-bottom: 13px;
	text-align: left;
}

#modal .section-title {
	margin-bottom: 10px;
}

/* Icons */
.social .icon,
.icon {
	color: #f7f7f7;
	display: inline-block;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	width: 36px;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	transition:			all 0.3s ease;
}

.social:hover,
 {
	color: #73ba37;
}

.row h2 .icon {
	font-size: 18px;
	line-height: 1.55556;
	margin-right: 10px;
}

/* Preload */
#preload {
	background: #1f1f1f url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}

#preload-content {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 999;
}

.preload-text {
	color: #167AC6;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	text-align: center;
}

.preload-spinner {
	margin: 0 auto 14px;
	text-align: center;
}

.bounce1,
.bounce2,
.bounce3 {
	-webkit-animation-name: bounce;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-name: bounce;
	-moz-animation-duration: 1.4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;
	animation-name: bounce;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	background: #474747;
	display: inline-block;
	height: 14px;
	margin: 0 3px;
	opacity: 0.6;
	width: 14px;
}

.bounce1 {
	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.bounce2 {
	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bounce {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes bounce {
	0%, 80%, 100% { -moz-transform: scale(0.0) }
	40% { -moz-transform: scale(1.0) }
}
@keyframes bounce {
	0%, 80%, 100% { transform: scale(0.0) }
	40% { transform: scale(1.0) }
}

/* Basic Structure
-------------------------------------------------*/
.wrap {
	min-height: 100%;
	position: relative;
}

.inner {
	margin: 0 auto;
}

#main {
	position: relative;
	height: 100%;
	width: auto;
	z-index:10;
}

#main .inner {
	max-width: 816px;
	padding: 15px 2px;
	width: 82%;
	height: 100%;
}
	
#modal {
	background: #1f1f1f;
	background: rgba(31,31,31,0.8);
	display: none;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 997;
}

#modal .inner {
	max-width: 816px;
}


/* Video Background */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg__video {
    display: none;
  }
}



/* On Devices with screen smaller than 767px hide background video */
@media (max-width: 767px) {
.fullscreen-bg, 
.fullscreen-bg__video{
display: none;
}
}

/* On Devices with screen larger than 768px hide backstretch image slider */
@media (min-width: 768px) {
.backstretch {
display: none;
}
}


/* Background Overlay */
.body-bg {
	background: rgba(0,0,0,0.4) url(images/overlay.png) repeat;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
}


/* Main
-------------------------------------------------*/
/* Header */
.site-title {
	font-size: 30px;
	margin-bottom: 10px;
}

/* Countdown */
.countdown_row {
	display: block;
}

.countdown_section {
	border-left: 1px dotted #dadada;
	border-color: rgba(218,218,218,0.8);
	color: #dadada;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 15px 12px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 25%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.countdown_section:first-child {
	border-left: 0;
}

.countdown_amount {
	color: #fff;
	display: block;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1;
}

/* Newsletter */
#newsletter {
	margin: 0 auto;
	max-width: 402px;
}

#newsletter-form {
	position: relative;
}

#newsletter-form .form-field {
	margin-right: 160px;
}

#newsletter-form .form-submit {
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}

#newsletter_email,
#newsletter_submit {
	display: block;
	height: 42px;
	width: 100%;
}

#newsletter_email {
	border-right: 0;
}

/* Social */
.social {
	margin: 18px 0;
}

.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 4px;
}

/* Modal toggle */
#main .modal-toggle {
	bottom: 10px;
	height: 25px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.modal-note {
	color: #dadada;
	display: block;
	font-size: 12px;
	margin-top:20px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

/* Modal page: About Us
-------------------------------------------------*/
/* Modal toggle */
#modal .modal-toggle {
	margin-bottom: 5px;
	text-align: center;
}

/* No JS
-------------------------------------------------*/
.no-js #timer,
.no-js .modal-toggle,
.no-js #preload {
	display: none;
}

/* Media Queries
-------------------------------------------------*/
@media (max-width: 680px) {
	h1 {
		font-size: 28px;
	}
	.countdown_amount {
		font-size: 32px;
	}
}

@media (max-width: 762px) {
	img {
	max-width:220px;
	height:auto;
}
	.row {
	margin-left:48px;
	font-size:1em;
	line-height:1.2;
	}
	.one-half {
		width: 80%;}
}

@media (max-width: 480px) {
	h1 {
		font-size: 24px;
	}
	.countdown_section {
		padding: 12px 6px 12px;
	}
	.countdown_amount {
		font-size: 26px;
		padding-bottom: 7px;
	}
	#newsletter-form .form-field {
		margin: 0 0 14px;
	}
	#newsletter-form .form-submit {
		margin: 0 auto;
		position: static;
		right: auto;
		top: auto;
	}
}

@media (max-width: 360px) {
	.countdown_section {
		font-size: 10px;
		padding: 12px 6px;
	}
	.countdown_amount {
		font-size: 22px;
	}
}

.modal-toggle2 {
    text-align: center;
    text-decoration: none;
}
